.DS_Store
build
buildXcode
buildVS
.vscode

project.xcworkspace
xcuserdata
xcshareddata
UserInterfaceState.xcuserstate
UserInterface.xcuserstate

libsudoku/Android/libs/
libsudoku/Android/obj/

lib
obj

a.out
go.sum

*.class
*.jnilib
